.navbar {
    background-color: #00004b;
    text-align: center;
    padding: 20px 0;
}
.navbar >a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    padding: 8px;
}

.navbar >a:hover {
    color:white
}